body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 12px;
  line-height: 20px;
}
h1 {
  display: inline-block;
  margin-top: 0px;
  margin-right: 2px;
  margin-bottom: 12px;
  padding: 5px 8px 12px 0px;
  float: none;
  background-color: rgba(0, 0, 0, 0.49);
  box-shadow: none;
  font-family: Inconsolata, monospace;
  color: white;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
  letter-spacing: -3px;
}
h2 {
  display: inline-block;
  margin: 2px 0px 0px;
  padding: 7px 13px 8px;
  background-color: rgba(0, 0, 0, 0.49);
  color: white;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin-right: 0px;
  margin-left: 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin-right: 0px;
  margin-bottom: 6px;
  margin-left: 0px;
  padding-bottom: 5px;
  border-width: 1px;
  border-color: black;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-shadow: none;
}
h5 {
  margin-right: 0px;
  margin-left: 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-top: 25px;
  margin-bottom: 41px;
  border-width: 1px;
  border-color: black;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}
img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  margin-right: 1px;
  padding-right: 2px;
  float: right;
  vertical-align: middle;
}
.button {
  display: inline-block;
  padding: 12px 31px;
  border-radius: 5px;
  background-color: black;
  background-image: none;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  color: white;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background-color: #008cff;
}
.section {
  margin-top: 0px;
  padding-top: 43px;
  padding-bottom: 95px;
  background-image: none;
}
.section.header {
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 1;
  padding-top: 28px;
  padding-bottom: 28px;
  background-color: #333;
}
.section.footer {
  margin-top: -36px;
  margin-bottom: -37px;
  padding-top: 11px;
  background-color: #f2f2f2;
  background-image: none;
}
.nav-link {
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px 14px;
  border-radius: 5px;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  color: white;
  font-size: 14px;
  text-decoration: none;
  text-transform: none;
}
.nav-link:hover {
  background-color: #969696;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.nav-link.sign-up {
  background-color: #008cff;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.nav-link:hover.sign-up:hover {
  background-color: #0076d6;
}
.nav-link.events {
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.company-title {
  color: white;
  font-size: 20px;
  font-weight: 400;
  text-transform: none;
}
.nav-bar {
  padding-right: 0px;
  padding-left: 0px;
  text-align: right;
}
.hero-bg {
  position: relative;
  width: auto;
  height: 250px;
  min-height: 200px;
  margin-bottom: -3px;
  padding-top: 312px;
  padding-bottom: 62px;
  float: none;
  background-color: black;
  background-image: url(../images/fairies%20H3.png), -webkit-linear-gradient(white, rgba(67, 132, 230, 0.81));
  background-image: url(../images/fairies%20H3.png), -o-linear-gradient(white, rgba(67, 132, 230, 0.81));
  background-image: url(../images/fairies%20H3.png), linear-gradient(white, rgba(67, 132, 230, 0.81));
  background-position: 50% 50%, 0% 0%;
  background-size: cover, auto;
  box-shadow: none;
  opacity: 0.83;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  text-shadow: none;
}
.hero-bg.content {
  min-height: 420px;
  padding-top: 316px;
  background-image: url(../images/example-bg.png);
  background-attachment: fixed;
}
.subtitle {
  margin-bottom: 18px;
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  color: rgba(0, 0, 0, 0.56);
  font-size: 16px;
  font-weight: 700;
}
.section-description {
  font-size: 14px;
}
.snippet-img {
  height: 219px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-image: url(../images/example-bg.png);
  background-size: cover;
}
.snippet {
  display: block;
  border-radius: 5px;
  background-color: #f2f2f2;
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  color: black;
  text-decoration: none;
}
.snippet:hover {
  background-color: #e8e8e8;
  -webkit-transform: translate(0px, -5px);
  -ms-transform: translate(0px, -5px);
  -o-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.right-col {
  padding-top: 13px;
  border: 0px none black;
  text-align: right;
}
.more-link {
  padding: 6px 8px;
  border: 2px solid #c2c2c2;
  border-radius: 5px;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #9c9c9c;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}
.more-link:hover {
  border: 1px solid #008cff;
  background-color: #008cff;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  color: white;
}
.snippet-text-section {
  margin-top: -2px;
  margin-bottom: 2px;
  padding: 10px 12px 0px;
}
.snippet-title {
  margin-bottom: 7px;
  font-size: 14px;
  font-weight: 700;
}
.snippet-text {
  margin-bottom: 13px;
  color: #737373;
  font-size: 14px;
  line-height: 19px;
}
.snippet-row {
  margin-top: 27px;
  margin-bottom: 27px;
}
.button-column {
  padding-top: 32px;
  text-align: center;
}
.company-column {
  padding-right: 0px;
  padding-left: 0px;
}
.img-example {
  margin-bottom: 34px;
}
.footer-link {
  margin-right: 9px;
  margin-left: 9px;
  color: #008cff;
  font-size: 14px;
  text-decoration: none;
}
.footer-nav-bar {
  text-align: right;
}
.footer-text {
  font-size: 14px;
}
.content-bg {
  height: 85px;
  min-height: 20px;
  margin-top: 0px;
  padding-top: 19px;
  padding-bottom: 0px;
  background-color: lightgrey;
  background-image: -webkit-repeating-linear-gradient(11deg, white, rgba(51, 102, 242, 0.61));
  background-image: -o-repeating-linear-gradient(281deg, white, rgba(51, 102, 242, 0.61));
  background-image: repeating-linear-gradient(281deg, white, rgba(51, 102, 242, 0.61));
}
.content-bg.two {
  float: none;
  background-image: -webkit-linear-gradient(138deg, rgba(67, 132, 230, 0.81), white);
  background-image: -o-linear-gradient(48deg, rgba(67, 132, 230, 0.81), white);
  background-image: linear-gradient(48deg, rgba(67, 132, 230, 0.81), white);
}
.content-bg.three {
  background-image: -webkit-repeating-linear-gradient(11deg, white, rgba(32, 185, 212, 0.81));
  background-image: -o-repeating-linear-gradient(281deg, white, rgba(32, 185, 212, 0.81));
  background-image: repeating-linear-gradient(281deg, white, rgba(32, 185, 212, 0.81));
}
.content-bg.h2 {
  background-image: -webkit-repeating-linear-gradient(11deg, white, rgba(51, 102, 242, 0.61));
  background-image: -o-repeating-linear-gradient(281deg, white, rgba(51, 102, 242, 0.61));
  background-image: repeating-linear-gradient(281deg, white, rgba(51, 102, 242, 0.61));
}
.note {
  font-size: 12px;
  font-weight: 700;
}
.quote {
  font-size: 16px;
  font-weight: 700;
}
.side-bar {
  float: none;
  font-family: Exo, sans-serif;
  color: #ae08cf;
  font-size: 21px;
  line-height: 24px;
  text-align: center;
}
@media (max-width: 991px) {
  h1 {
    font-size: 31px;
  }
  h2 {
    margin-left: -13px;
    padding-left: 0px;
  }
  p {
    font-size: 13px;
    text-align: left;
  }
  img {
    padding-right: 0px;
    float: none;
    text-align: center;
  }
  .button {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .section {
    margin-bottom: 20px;
    padding-bottom: 0px;
  }
  .nav-link {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .hero-bg {
    position: relative;
    top: -20px;
    display: block;
    height: 209px;
    background-image: url(../images/dreams_wishes_and_fairies.jpg);
  }
  .hero-bg.content {
    background-image: url(../images/example-bg.png);
  }
  .snippet-img {
    height: 166px;
    background-image: url(../images/example-bg.png);
  }
  .snippet {
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .more-link {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .content-bg {
    margin-top: 55px;
    background-image: -webkit-linear-gradient(59deg, white, rgba(51, 102, 242, 0.61) 85%);
    background-image: -o-linear-gradient(329deg, white, rgba(51, 102, 242, 0.61) 85%);
    background-image: linear-gradient(329deg, white, rgba(51, 102, 242, 0.61) 85%);
  }
  .content-bg.two {
    background-image: -webkit-linear-gradient(74deg, white, rgba(67, 132, 230, 0.81) 94%), url(../images/example-bg.png);
    background-image: -o-linear-gradient(344deg, white, rgba(67, 132, 230, 0.81) 94%), url(../images/example-bg.png);
    background-image: linear-gradient(344deg, white, rgba(67, 132, 230, 0.81) 94%), url(../images/example-bg.png);
  }
  .side-bar {
    direction: ltr;
    font-family: Bitter, serif;
    text-decoration: none;
  }
}
@media (max-width: 767px) {
  body {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  h1 {
    margin-top: 93px;
    padding-top: 0px;
    font-size: 28px;
    text-align: right;
  }
  h2 {
    margin-left: 11px;
  }
  p {
    margin-top: 1px;
    margin-bottom: 29px;
  }
  img {
    position: static;
    overflow: visible;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 6px;
    padding-bottom: 0px;
  }
  .button {
    margin-bottom: 33px;
    padding: 29px 30px;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    font-size: 16px;
    font-weight: 700;
  }
  .section.header {
    background-color: #333;
  }
  .nav-link {
    background-color: #6b6b6b;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .nav-link:hover {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .company-title {
    margin-bottom: 33px;
  }
  .nav-bar {
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
  }
  .hero-bg {
    overflow: visible;
    min-height: 390px;
    margin-top: 1px;
    padding-top: 238px;
    padding-right: 11px;
    padding-left: 11px;
    clear: none;
    background-image: url(../images/fairies-twmp-header1.jpg), -webkit-linear-gradient(#1a29f0, white);
    background-image: url(../images/fairies-twmp-header1.jpg), -o-linear-gradient(#1a29f0, white);
    background-image: url(../images/fairies-twmp-header1.jpg), linear-gradient(#1a29f0, white);
    background-size: cover, auto;
  }
  .hero-bg.content {
    min-height: 290px;
    padding-top: 205px;
    background-image: url(../images/example-bg.png);
  }
  .section-description {
    padding-left: 4px;
  }
  .snippet-img {
    height: 206px;
    background-image: url(../images/example-bg.png);
  }
  .snippet {
    margin-bottom: 19px;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .right-col {
    margin-top: -42px;
  }
  .snippet-title {
    padding-top: 3px;
  }
  .snippet-text {
    margin-top: -5px;
    margin-bottom: 4px;
    padding-top: 14px;
    padding-bottom: 7px;
  }
  .button-column {
    padding-top: 61px;
  }
  .company-column {
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
  }
  .footer-nav-bar {
    text-align: center;
  }
  .left-footer-col {
    margin-bottom: 13px;
    text-align: center;
  }
  .content-bg {
    min-height: 100px;
    margin-bottom: -15px;
    padding-top: 21px;
    padding-bottom: 5px;
    background-image: -webkit-linear-gradient(333deg, white, rgba(51, 102, 242, 0.61));
    background-image: -o-linear-gradient(243deg, white, rgba(51, 102, 242, 0.61));
    background-image: linear-gradient(243deg, white, rgba(51, 102, 242, 0.61));
  }
  .content-bg.two {
    background-image: -webkit-linear-gradient(rgba(67, 132, 230, 0.81), white), url(../images/example-bg.png);
    background-image: -o-linear-gradient(rgba(67, 132, 230, 0.81), white), url(../images/example-bg.png);
    background-image: linear-gradient(rgba(67, 132, 230, 0.81), white), url(../images/example-bg.png);
  }
}
@media (max-width: 479px) {
  h1 {
    margin-bottom: 0px;
    padding: 0px 4px 0px 9px;
  }
  h2 {
    margin-top: 4px;
    padding-top: 2px;
    padding-bottom: 4px;
  }
  h4 {
    margin-top: 7px;
    margin-bottom: 48px;
    padding-top: 0px;
    padding-left: 0px;
  }
  img {
    clear: none;
  }
  .button {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .section {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 23px;
  }
  .section.header {
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
  }
  .nav-link {
    display: block;
    margin-bottom: 19px;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .hero-bg {
    margin-bottom: 0px;
    padding-top: 0px;
    background-image: url(../images/fairies-twmp-header1.jpg);
  }
  .hero-bg.content {
    background-image: url(../images/example-bg.png);
  }
  .section-description {
    width: 50%;
    padding-right: 0px;
  }
  .snippet-img {
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../images/example-bg.png);
  }
  .snippet {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .right-col {
    margin-top: -8px;
  }
  .more-link {
    margin-top: 4px;
    padding-top: 0px;
  }
  .snippet-title {
    padding-top: 13px;
  }
  .snippet-text {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .button-column {
    padding-top: 0px;
  }
  .content-bg {
    max-height: 50px;
    min-height: 50px;
    margin-bottom: -74px;
    padding-top: 0px;
    background-image: -webkit-linear-gradient(339deg, rgba(51, 102, 242, 0.61), white);
    background-image: -o-linear-gradient(249deg, rgba(51, 102, 242, 0.61), white);
    background-image: linear-gradient(249deg, rgba(51, 102, 242, 0.61), white);
  }
  .content-bg.two {
    margin-top: 44px;
    background-image: -webkit-linear-gradient(339deg, rgba(151, 245, 88, 0.90), white), url(../images/example-bg.png);
    background-image: -o-linear-gradient(249deg, rgba(151, 245, 88, 0.90), white), url(../images/example-bg.png);
    background-image: linear-gradient(249deg, rgba(151, 245, 88, 0.90), white), url(../images/example-bg.png);
  }
  .side-bar {
    position: relative;
    top: -19px;
    margin-bottom: 5px;
  }
}